:root {
    --gap: 15px;
    --gray: #e7e7e7;
    --dark-gray: #bdbdbd;
    --red: #fd5a58;
    --dark-red: #d44d50;
    --green: #24cb4c;
    --dark-green: #189940;
    --orange: #fdbe3d;
    --dark-orange: #bc8e36;
}

.console-messages-wrapper {
    position: fixed;
    bottom: var(--gap);
    right: var(--gap);
    width: 100%;
    max-width: 300px;
    overflow-y: scroll;
    height: fit-content;
    padding-top: 10px;
}

.console-messages::-webkit-scrollbar {
    display: none;
}

.console-messages {
    position: static;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    max-height: 100%;
}

.console-messages-wrapper:hover > .console-messages {
    max-height: 100vh;
}

.console-message {
    min-height: 17px;
    padding: var(--gap);
    display: flex;
    align-items: center;
    margin: var(--gap) 0;
    margin-bottom: 0;
    border-radius: 5px;
    font-family: monospace;
    font-size: 15px;
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
}

.console-message:not(.clearable) {
    box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.25);
}

.console-message.log {
    background-color: var(--gray);
}
.console-message.log > .console-controls {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--gray) 75%);
}
.console-message.log.console-has-duplicates:after {
    background-color: var(--dark-gray);
}

.console-message.warn {
    background-color: var(--orange);
}
.console-message.warn > .console-controls {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--orange) 75%);
}
.console-message.warn.console-has-duplicates:after {
    background-color: var(--dark-orange);
}

.console-message.error {
    background-color: var(--red);
}
.console-message.error > .console-controls {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--red) 75%);
}
.console-message.error.console-has-duplicates:after {
    background-color: var(--dark-red);
}

.console-text {
    white-space: nowrap;
    display: inline-block;
    transition: all 0.5s linear;
}

.console-message:hover > .console-text {
    transition: all 3s linear;
}

.console-controls {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: absolute;
    right: 0;
    padding-right: var(--gap);
    padding-left: 30px;
    opacity: 0;
    pointer-events: none;
    margin-right: -20px;
    transition: all 0.2s;
    height: 100%;
}

.console-message:hover > .console-controls {
    opacity: 1;
    pointer-events: all;
    margin-right: 0;
}

.console-controls > i {
    user-select: none;
    line-height: 0;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.console-message.console-has-duplicates:after {
    content: attr(data-duplicates);
    position: absolute;
    right: var(--gap);
    width: calc(var(--gap) * 2);
    height: calc(var(--gap) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    margin-right: 0;
    opacity: 1;
    transition: all 0.2s;
}

.console-message.console-has-duplicates:hover:after {
    opacity: 0;
    margin-right: 20px;
    visibility: hidden;
}

.console-buttons {
    margin-top: var(--gap);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.console-button,
.console-clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5000px;
}

.console-button > span {
    margin-left: 5px;
    font-family: monospace;
    font-size: 18px;
}

.console-button[data-type="warn"] {
    background-color: var(--orange);
}

.console-button[data-type="error"] {
    background-color: var(--red);
}

.console-button[data-type="log"] {
    background-color: var(--gray);
}

.console-clear {
    padding: 0;
}

.console-messages-wrapper.show-warn .console-message.error,
.console-messages-wrapper.show-warn .console-message.log {
    opacity: 0.25;
}
.console-messages-wrapper.show-warn .console-message.warn {
    opacity: 1!important;
}
.console-messages-wrapper.show-warn .console-button[data-type="error"],
.console-messages-wrapper.show-warn .console-button[data-type="log"] {
    opacity: 0.25;
}
.console-messages-wrapper.show-warn .console-button[data-type="warn"] {
    opacity: 1!important;
}

.console-messages-wrapper.show-error .console-message.warn,
.console-messages-wrapper.show-error .console-message.log {
    opacity: 0.25;
}
.console-messages-wrapper.show-error .console-message.error {
    opacity: 1!important;
}
.console-messages-wrapper.show-error .console-button[data-type="warn"],
.console-messages-wrapper.show-error .console-button[data-type="log"] {
    opacity: 0.25;
}
.console-messages-wrapper.show-error .console-button[data-type="error"] {
    opacity: 1!important;
}

.console-messages-wrapper.show-log .console-message.warn,
.console-messages-wrapper.show-log .console-message.error {
    opacity: 0.25;
}
.console-messages-wrapper.show-log .console-message.log {
    opacity: 1!important;
}
.console-messages-wrapper.show-log .console-button[data-type="error"],
.console-messages-wrapper.show-log .console-button[data-type="warn"] {
    opacity: 0.25;
}
.console-messages-wrapper.show-log .console-button[data-type="log"] {
    opacity: 1!important;
}